<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
  <a routerLink="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-3">Socialsocialclub</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-1">
      <a routerLinkActive="active-link" routerLink="home" class="nav-link link-dark fs-4" aria-current="page">
        Home
      </a>
    </li>
    <li class="mb-1">
      <a routerLink="messages" routerLinkActive="active-link" class="nav-link link-dark fs-4">
        Messages
      </a>
    </li>
    <li>
      <a routerLink="friends" routerLinkActive="active-link" class="nav-link link-dark fs-4">
        Friends
      </a>
    </li>
    <li class="mb-1">
      <a routerLink="groups" routerLinkActive="active-link" class="nav-link link-dark fs-4">
        Groups
      </a>
    </li>
  </ul>
  <hr>
  <div class="col lowest py-2 rounded">
    <div ngbDropdown placement="top" class="d-block" id="dropdownBasic2" style="width: 100%;">
      <div ngbDropdownToggle style="width: 100%;" class="fs-4 px-3 custom-dropdown-toggle" >
        <span>Profile</span>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="width: 130%;">
        <button ngbDropdownItem class="my-1">Settings</button>
        <button ngbDropdownItem class="my-1">Logout</button>
      </div>
    </div>
  </div>
</div>
